<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
 {% if category %}
   {{Add a Category.  }}
 {% else %}
     Unknown Category
  {% endif %}
{% endblock %}
{% block body_block %}
   {% if category %}
      {{Add a Category.  }}
   {% else %}
    <form id="category_form" method="post" action="/rango/add_category/">
      {% csrf_token %}
    {% block body_block %}
       {% for hidden in form.hidden_fields %}
           {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
      {{ field.errors }}
      {{ field.help_text }}
      {{ field }}
  {% endfor %}
  {% endif %}
  {% else %}
  <input type="submit" name="submit" value="Create Category" />
  {% endif %}
{% endblock %}
    


