!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {% if index %}
   {{  Homepage. }}
  {% else %}
     Unknown Category
  {% endif %}
{% endblock %}
<h2>Most Liked Categories.<h2>
{% block body_block %}
  {% if categories %}
  {% for category in categories %}
    <a href="{% url 'rango:show_category' category.slug %}">
        {{ category.name }}
    </a>
  {% endfor %}
  {% endif %}
  {% if pages %}
  <h2>Most viewed pages<h2>
    <ul>
      {% for page in pages %}
          <li><a href="{{page.url }}">{{ page.title }}</a></li>
      {% endfor %}
      </ul>
     {% endif %}
      <img src="{% static "images/rango.jpg" %}"
      alt="Picture of Rango" />
  {% endfor %}
  {% endif %}
{% endblock %}
 
 #  <a href="{% url 'add_page' category.slug %}">Add Page</a> <br />
  







